<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/bootstrap.css">
    <title>Tasks</title>
    <div class="row bg-dark mb-3 justify-content-center text-warning">
        <h1>Task Organizer</h1>
    </div>
    {% block head %}
    {% endblock %}
</head>
<body>
    {% block body %}
    {% endblock %}
    <script src="../static/js/popper.min.js"></script>
    <script src="../static/js/jquery-3.7.1.min.js"></script>
    <script src="../static/js/bootstrap.js"></script>
</body>
</html>